body{
  margin:0px;
  padding:0px 0px 80px 0px;
  background-color:#0c0c0c;
  color:white;
  font-family:Tahoma;
  text-align:center;
}
html {
  scroll-behavior: smooth;
}
#banner{
  width:100vw;
  height:auto;
  display:block;
}
h1{
  font-size:1.5em;
}
p{
  font-weight:1em;
  font-weight:bold;
  margin-top:50px;
  margin-left(50px);
}
button{
  font-weight:bold;
  color:white;
  background-color:darkred;
  border:none;
  border-radius:50px;
  padding:10px;
  margin:50px;
  width:300px;
  transition:background-color 0.5s, color 0.5s;
}
button:hover{
  background-color:white;
  color:darkred;
}
div#textos{
  display:grid;
  justify-content:center;
  background-image:url(imagem/fundo.png);
  background-size:cover;
}
div#textos div{
  width:80vw;
}
img{
  height:200px;
  margin-bottom:0px;
}
h2
{
  color:darkred;
  font-weight:bold;
  margin-top:0px;
  font-size:1.8em;
}
div#textos div p{
  margin:0px;
  margin-bottom:50px;;
}
div#servidor{
  display:grid;
  justify-content:center;
  
}
div#servidor h1{
  text-align:left;
  margin-left:30px;
  font-size:1.5em;
}
div#servidor div{
  background-color:white;
  border-left:solid 8px darkred;
  color:black;
  width:80vw;
  height:100px;
  border-radius:10px;
  transition:border-left-width 0.5s;
}
div#servidor div:hover{
  border-left-width:15px;
}
div#servidor h3{
  text-align:left;
  margin-left:10px;
}
div#perguntas{
  display:grid;
  justify-content:center;
}
div#faq{
  background-color:white;
  width:80vw;
  border-radius:20px;
  color:black;
  margin:auto;
  padding:10px;
}
details p{
  margin-top:10px;
  font-weight:normal;
  max-height:0px;
  overflow:hidden;
  transition:max-height 0.5s ease;
}
details[open] p{
  max-height:200px;
}
summary{
  padding:5px;
  text-align:left;
}
div.per{
  border-bottom:solid 3px #c4c4c4;
}
footer {
  background-color: black;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 100;
}

a{
  color:white;
  font-size:1.5em;
  transition:color 0.5s;
  margin:20px;
}
a:hover{
  color:darkred;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1.3em;
  }

  p {
    font-size: 0.9em;
  }

  button {
    width: 80%;
    margin: 20px auto;
  }

  img {
    height: 150px;
  }

  div#textos div,
  div#servidor div,
  div#faq {
    width: 90vw;
  }

  a {
    font-size: 1.2em;
    margin: 10px;
  }
}

/* Tablets (entre 600px e 900px) */
@media (min-width: 601px) and (max-width: 900px) {
  h1 {
    font-size: 1.4em;
  }

  h2 {
    font-size: 1.5em;
  }

  img {
    height: 180px;
  }

  button {
    width: 60%;
  }

  div#textos div,
  div#servidor div,
  div#faq {
    width: 85vw;
  }
}

/* Telas grandes (acima de 900px) */
@media (min-width: 901px) {
  body {
    font-size: 1em;
  }

  div#textos div,
  div#servidor div,
  div#faq {
    width: 60vw;
  }
}